<p id="notice"><%= notice %></p>

<p>
  <strong>Grade:</strong>
  <%= @grade.grade %>
</p>

<p>
  <strong>Student:</strong>
  <%= @grade.student %>
</p>

<p>
  <strong>Evaluation:</strong>
  <%= @grade.evaluation %>
</p>

<%= link_to 'Edit', edit_course_evaluation_grade_path(@evaluation.coruse,@evaluation, @grade) %> |
<%= link_to 'Back', course_evaluations_grade_path(@evaluation.coruse,@evaluation) %>
