

        <td><%= evaluation.title %></td>
        <td><%= evaluation.min_grade %></td>
        <td><%= evaluation.date %></td>
        <td><%= evaluation.course %></td>
        <td><%= link_to 'Show', evaluation %></td>
        <td><%= link_to 'Edit', edit_evaluation_path(evaluation) %></td>
        <td><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
