<%= form_with(model: [ @course, evaluation ], local: true) do |form| %>
 
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :evaluation_title %>
  </div>

  <div class="field">
    <%= form.label :min_grade %>
    <%= form.text_field :min_grade, id: :evaluation_min_grade %>
  </div>

  <div class="field form-group">
    <%= form.label :date %>
    <%= form.date_select :date, id: :evaluation_date %>
  </div>

  <div class="field form-group">
    <%= form.label :course_id %>
    <%= form.text_field :course_id, id: :evaluation_course_id %>
  </div>

  <div class="actions">
    <%= form.submit  :class => "btn btn-default" %>
  </div>
<% end %>
