<%= form_for [@course,@evaluation] do |f| %>
  <h3 style="color: white; text-align: center">Grades</h3>
  <table  class="table table-bordered table-light gradesTable table-striped">
    <tr>
      <th >Nombre</th>
      <th >Dni</th>
      <th>Legajo</th>
      <th >Nota</th>
    </tr>
    <%= f.fields_for :grades do |grades_form| %>
    <tr>
      <td >      
        <%= grades_form.object.student.name %>
      </td>
       <td >      
        <%= grades_form.object.student.dni %>
      </td>
      <td >      
        <%= grades_form.object.student.number %>
      </td>
      <td>
        <% if @evaluation.set_grade %>
           
            <%= grades_form.text_field :grade, placeholder: "Ausente"  %>
          
        <%else%>
          <%= grades_form.text_field :grade  %>
        <% end %>
      </td>
    </tr>
    <% end %>

  </table>
  <div class="action offset-md-5">
  <%= f.submit "Actualizar" ,class:"btn btn-primary btn-form" %>
  </div>
<% end %>