<p id="notice"><%= notice %></p>

<h1>Evaluaciones de <%= @course.name %> del año  <%= @course.year %> </h1>

<table class="table table-bordered table-light gradesTable table-striped ">
  <thead>
    <tr>
      <th>Title</th>
      <th>Min grade</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>
        
  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.title %></td>
        <td><%= evaluation.min_grade %></td>
        <td><%= evaluation.date %></td>
        <td><%= link_to 'Ver evaluación', course_evaluation_path(@course,evaluation) %></td>
        <td><%= link_to  edit_course_evaluation_path(@course,evaluation)  do%>
          <%= content_tag :i,"", :class => "fa fa-edit" %>
            <% end %>
        </td>
        <td><%= link_to course_evaluation_path(@course,evaluation), method: :delete, data: { confirm: 'Estas seguro?' } do %>
          <%= content_tag :i,"", :class => "fa fa-trash" %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva evaluación', new_course_evaluation_path(@course), class: "btn btn-primary btn-form" %>
<%= link_to 'Volver al curso', @course, class: "btn btn-primary btn-form" %>

