
<div class="container  div-inline2">
  <% if @evaluation.errors.any? %>
    <ul>
      <% @evaluation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <% end %>
  <table class="table table-bordered table-light gradesTable table-striped">
    <tr>
      <th>Titulo</th>
      <th>Nota minima</th>
      <th>Fecha</th>
      <th>Aprobados</th>
      <th>Desaprobados</th>
      <th>Ausentes</th>
      <th>Porcentaje de aprobados</th>
    </tr>
    <tr>
      <td><%= @evaluation.title %></td>
      <td><%= @evaluation.min_grade %></td>
      <td><%= @evaluation.date %></td>
      <% if @evaluation.set_grade %>
        <td><%= @evaluation.approved_students%></td>
        <td><%= @evaluation.disapproved_students%></td>
        <td><%= @evaluation.absent_sudents %></td>
        <td><%= @evaluation.percentage_of_approved %></td>
      <%else%> 
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      <%end%>
    </tr>
  </table>

<br>
<%= link_to 'Editar', edit_course_evaluation_path(@evaluation),class:"btn btn-primary btn-form" %> 
<%= link_to 'Volver', course_evaluations_path,class:"btn btn-primary btn-form" %>



<input class="btn btn-primary btn-form" id="actualizarNotas" type="button" value="Ver/Actualizar notas" onclick="showmydiv()">
<input  class="btn btn-primary btn-form" id="ocultarNotas" type="button" value="Ocultar notas" onclick="hidemydiv()" style="display: none">
<div id="myBox" style="display:none">
<% if !@evaluation.grades.empty? %>
<div class="container">
  <%= render 'set_grades', evaluation: @evaluation %>
</div>
<%end%>
</div>