

<p>
  <strong>Title:</strong>
  <%= @evaluation.title %>
</p>

<p>
  <strong>Min grade:</strong>
  <%= @evaluation.min_grade %>
</p>

<p>
  <strong>Date:</strong>
  <%= @evaluation.date %>
</p>

<p>
  <strong>Course:</strong>
  <%= @evaluation.course %>
</p>

<%= link_to 'Edit', edit_course_evaluation_path(@evaluation) %> |
<%= link_to 'Back', course_evaluations_path %>
<%= link_to 'notas', course_evaluation_grades_path(@course,@evaluation) %>
<%= link_to 'set_grade', set_grades_course_evaluation_path(@course,@evaluation) %>