<p id="notice"><%= notice %></p>

<h1>Estudiantes de <%= @course.name %> del año  <%= @course.year %></h1>
<table class="table table-bordered table-light gradesTable table-striped " >
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Dni</th>
      <th>Legajo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.lastname %></td>
        <td><%= student.dni %></td>
        <td><%= student.number %></td>
        <td><%= link_to 'Ver Estudiante', course_student_path(@course,student) %></td>
        <td><%= link_to  edit_course_student_path(@course,student) do %>
          <%= content_tag :i,"", :class => "fa fa-edit" %>
            <% end %>
        </td>
        <td><%= link_to  course_student_path(@course,student), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <%= content_tag :i,"", :class => "fa fa-trash" %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo estudiante', new_course_student_path(@course), class: "btn btn-primary btn-form" %>
<%= link_to 'Volver al curso',@course, class: "btn btn-primary btn-form" %>