<p id="notice"><%= notice %></p>
<div class="container offset-md-4">
<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student.lastname %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @student.dni %>
</p>

<p>
  <strong>Number:</strong>
  <%= @student.number %>
</p>

</div>

<%= link_to 'Editar', edit_course_student_path(@course,@student), :class => "btn btn-primary btn-form" %> 
<%= link_to 'Volver', course_students_path(@course), :class => "btn btn-primary btn-form" %>
<%= link_to 'Ir al curso', @course, :class => "btn btn-primary btn-form" %>

