<p id="notice"><%= notice %></p>

 <h1 class="title-courses"> <%= @course.name %> (<%= @course.year %>) </h1>

<div class="contaier" style="margin-top: 50px ">

	<a href="<%= course_evaluations_path(@course) %>" class="offset-md-2 col-md-3 div-inline">
		<h2>Evaluaciones</h2>
		<%= content_tag :i,"", :class => "fa fa-graduation-cap" %>
	</a>
	<a href="<%= course_students_path(@course) %>" class="offset-md-1 col-md-3 div-inline">
		<h2>Estudiantes</h2>
		<%= content_tag :i,"", :class => "fa  fa-users" %>
	</a>
	<a href="<%=result_course_path(@course)%>" class="offset-md-4 col-md-3 div-inline">
		<h2>Notas</h2>
		<%= content_tag :i,"", :class => "fa fa-sort-numeric-asc" %>
	</a>
		
	</div>



<%= link_to 'Editar Cursada', edit_course_path(@course) , :class => "btn btn-primary btn-form" %> 
<%= link_to 'Volver ', courses_path , :class => "btn btn-primary btn-form" %> 

