<!DOCTYPE html>
<html>
  <head>
    <title>TPIRuby2017</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <head>
      <nav class="col-md-12 nav-singout navbar-inverse" >

         <% if user_signed_in? %>
          <%= link_to 'Cerrar Sesion', destroy_user_session_path, :method => :delete %>
          
          <% else %>
            <p>Debes iniciar sesión para continuar</p>
          <% end %>
        
      </nav>
      <%= link_to image_tag("logo.jpg", class:"offset-md-1 col-md-4 img-header offset-sm-2 col-sm-5"), "/" %>
      
      <%=  image_tag("logo-ruby.jpg", class: "offset-md-5 col-md-1 img-header logo-ruby")%>
        
    </head>
  	<!--<p class="notice"></p> -->
    <div class="container offset-md-1 col-md-10">
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
