<!DOCTYPE html>
<html>
  <head>
    <title>TPIRuby2017</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <head>
      <nav class="col-md-12 nav-singout navbar-inverse" >
        <small> <%= link_to 'Cerrar Sesion', destroy_user_session_path, :method => :delete %>
        </small>
      </nav>
      <h1 class="titulo-curso offset-md-5">Cursos de Ruby </h1>
      <%= link_to image_tag("logo.jpg", class:"img-logo"), "http://info.unlp.edu.ar"%>
      <nav>
        
      </nav>
    </head>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
